<?xml version="1.0"?>
<config> 
    <modules>
        <Nextend2_Nextend2>
            <version>2.0.21</version>
        </Nextend2_Nextend2>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nextend2 before="Mage_Adminhtml">Nextend2_Nextend2_Adminhtml</nextend2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <nextend2>
                    <file>nextend2.xml</file>
                </nextend2>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <nextend2_nextend2>
                <class>Nextend2_Nextend2_Helper</class>
            </nextend2_nextend2>
        </helpers> 
        <models>
            <nextend2>
                <class>Nextend2_Nextend2_Model</class>
            </nextend2>
        </models>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <nextend2_pagecache>
                        <class>Nextend2_Nextend2_Model_Observer</class>
                        <method>onPageCache</method>
                    </nextend2_pagecache>
                </observers>
            </controller_front_send_response_before>
            <http_response_send_before>
                <observers>
                    <nextend2_css_js>
                        <class>Nextend2_Nextend2_Model_Observer</class>
                        <method>buildCSSJS</method>
                    </nextend2_css_js>
                </observers>
            </http_response_send_before>
        </events>
        <resources>
            <nextend2_setup>
                <setup>
                    <module>Nextend2_Nextend2</module>
                    <class>Nextend2_Nextend2_Model_Resource_Setup</class>
                </setup>
            </nextend2_setup>
        </resources>
    </global>
</config>