<?xml version="1.0"?>
<config>
    <modules>
        <Nextend2_SmartSlider3>
            <version>3.1.10</version>
        </Nextend2_SmartSlider3>
    </modules>
    <global>
        <blocks>
            <nextend2smartslider3>
                <class>Nextend2_SmartSlider3_Block</class>
            </nextend2smartslider3>
        </blocks>
        <helpers>
            <nextend2smartslider3>
                <class>Nextend2_SmartSlider3_Helper</class>
            </nextend2smartslider3>
        </helpers>
        <models>
            <nextend2smartslider3>
                <class>Nextend2_SmartSlider3_Model</class>
            </nextend2smartslider3>
        </models>
        <events>
            <n2_http_response_send_before>
                <observers>
                    <nextend2_shortcode>
                        <class>Nextend2_SmartSlider3_Model_Observer</class>
                        <method>shortcode</method>
                    </nextend2_shortcode>
                </observers>
            </n2_http_response_send_before>

            <nextend_loaded>
                <observers>
                    <nextend_loaded_smartslider3>
                        <class>Nextend2_SmartSlider3_Model_Observer</class>
                        <method>nextendLoaded</method>
                    </nextend_loaded_smartslider3>
                </observers>
            </nextend_loaded>
        </events>
        <resources>
            <smartslider3_setup>
                <setup>
                    <module>Nextend2_SmartSlider3</module>
                    <class>Nextend2_SmartSlider3_Model_Resource_Setup</class>
                </setup>
            </smartslider3_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <smartslider3 before="Mage_Adminhtml">Nextend2_SmartSlider3_Adminhtml</smartslider3>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <smartslider3>
                    <file>smartslider3.xml</file>
                </smartslider3>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <nextend2smartslider3>
                            <title>Smart Slider 3</title>
                            <children>
                                <sliders translate="title">
                                    <title>Smart Slider 3 access</title>
                                </sliders>
                            </children>
                        </nextend2smartslider3>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>